
body {
    background-color: rgb(75, 75, 187);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

/* for the square canvas */

.squares_container {
    border:solid 5px rgba(255, 231, 53, 0.938);
    border-radius: 3px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    /* box-sizing: border-box; */
}

div.squares_container div {
    
    /* border: solid 1px rgb(209, 207, 207); */
    box-sizing: border-box;
    aspect-ratio: auto 1/1;
    flex: 1 0 auto;
    

}

.divy {
    background-color: white;
}

.divy:hover {
    background-color: rgb(180, 178, 178);
}
/* 
.default_white {
    background-color: white;
}

div.squares_container div:hover {
    background-color: rgb(180, 178, 178);
}
 */


.make_black {
    background-color: black;
}


/* For the left buttons  */

.but {
    font-size: 20px;
    background-color: rgb(74, 138, 194);
    color:rgb(244, 221, 122);
    padding: 5px;
    border-radius: 2px;
}



.left_container {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    height: 500px;
}
