.squares_container {
    border:solid 5px red;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    /* box-sizing: border-box; */
}

div.squares_container div {
    /* flex: uato; */
    border: solid 1px black;
    box-sizing: border-box;

}

div.squares_container div:hover {
    background-color: rgb(180, 178, 178);
}

.but {
    font-size: 20px;
    background-color: rgb(74, 138, 194);
    color:rgb(244, 221, 122);
    padding: 5px;
    border-radius: 2px;
}

.make_black {
    background-color: black;
}